<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Demo.Services.HelloWcf.HelloWcf" behaviorConfiguration="HelloWcf_ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001"/>
          </baseAddresses>
        </host>
        <endpoint binding="netTcpBinding" bindingConfiguration="HelloWcf_TcpBinding"
          contract="Demo.Services.HelloWcf" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="HelloWcf_TcpBinding">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HelloWcf_ServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>